/* ==========================================
   SIDEBAR
========================================== */

.sidebar {

    position: fixed;

    top: 65px;
    left: 0;

    width: 72px;
    height: calc(100vh - 65px);

    background: #1F2937;

    border-radius: 0 16px 16px 0;

    display: flex;
    flex-direction: column;

    padding: 12px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);

    transition: width .25s ease;
}


/* ==========================================
   SIDEBAR EXPANDIDA
========================================== */

.sidebar.expanded {

    width: 260px;

}


/* ==========================================
   MENU
========================================== */

.sidebar-menu {

    display: flex;
    flex-direction: column;

    gap: 8px;

}


/* ==========================================
   ITEM PRINCIPAL
========================================== */

.nav-item {

    position: relative;

    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border-radius: 12px;

    color: #FFFFFF;
    text-decoration: none;

    transition:
        background .20s ease,
        transform .20s ease;

}

.sidebar.expanded .nav-item {

    justify-content: flex-start;

    padding: 0 12px;

}

.nav-item:hover {

    background: rgba(22, 119, 200, .15);

}


/* ==========================================
   INDICADOR
========================================== */

.sidebar-indicator {

    width: 4px;
    height: 28px;

    border-radius: 999px;

    flex-shrink: 0;

    margin-right: 12px;

    background: #374151;

    transition: .20s;

}


/* Indicadores alternados */

.sidebar-menu > .menu-group:nth-child(odd) > .nav-item > .sidebar-indicator {

    background: #0057B8;

}

.sidebar-menu > .menu-group:nth-child(even) > .nav-item > .sidebar-indicator {

    background: #374151;

}


/* Indicador selecionado */

.nav-item.active .sidebar-indicator {

    background: #00A878;

}


/* ==========================================
   ÍCONE
========================================== */

.nav-icon {

    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

}

.nav-icon img {

    width: 24px;
    height: 24px;

    display: block;

    filter:
        invert(21%)
        sepia(98%)
        saturate(1914%)
        hue-rotate(198deg)
        brightness(96%)
        contrast(101%);

}


/* ==========================================
   TEXTO
========================================== */

.nav-label {

    opacity: 0;

    max-width: 0;

    overflow: hidden;

    white-space: nowrap;

    margin-left: 0;

    color: #FFFFFF;

    font-size: 15px;

    font-family: "TT Octosquares Trl Md", sans-serif;

    transition:
        opacity .20s ease,
        max-width .25s ease,
        margin-left .25s ease;

}

.sidebar.expanded .nav-label {

    opacity: 1;

    max-width: 180px;

    margin-left: 16px;

}


/* ==========================================
   SETA PRINCIPAL
========================================== */

.nav-arrow {

    margin-left: auto;

    width: 18px;
    min-width: 18px;

    text-align: center;

    font-size: 10px;

    color: #9CA3AF;

    opacity: 0;

    transition:
        transform .15s ease,
        opacity .20s ease;

}

.sidebar.expanded .nav-arrow {

    opacity: 1;

}


/* Gira a seta quando o menu principal está aberto */

.menu-group.open > .nav-item .nav-arrow {

    transform: rotate(180deg);

}


/* ==========================================
   SUBMENU - PRIMEIRO NÍVEL
========================================== */

.submenu {

    display: flex;
    flex-direction: column;

    margin-left: 46px;

    gap: 6px;

    max-height: 0;

    overflow: hidden;

    opacity: 0;

    transition:
        max-height .25s ease,
        opacity .20s ease;

}


/* Abre submenu principal */

.menu-group.open > .submenu {

    max-height: 600px;

    opacity: 1;

}


/* ==========================================
   ITEM DO SUBMENU
========================================== */

.submenu-item {

    display: flex;

    justify-content: space-between;
    align-items: center;

    color: #D1D5DB;

    text-decoration: none;

    font-size: 14px;

    padding: 6px 0;

    transition: color .20s ease;

}

.submenu-item:hover {

    color: #FFFFFF;

}


/* ==========================================
   LINKS INTERNOS
========================================== */

.submenu a {

    color: #D1D5DB;

    text-decoration: none;

    font-size: 14px;

    padding: 6px 0;

    transition: color .20s ease;

}

.submenu a:hover {

    color: #FFFFFF;

}


/* ==========================================
   SETA DOS SUBMENUS
========================================== */

.submenu-arrow {

     margin-left: auto;

    width: 18px;
    min-width: 18px;

    text-align: center;

    font-size: 10px;

    color: #9CA3AF;

    opacity: 1;

    transition:
        transform .15s ease,
        opacity .20s ease;
}

.submenu-group.open > .submenu-item .submenu-arrow {

    transform: rotate(90deg);

}

/* ==========================================
   SUBMENU - SEGUNDO NÍVEL
========================================== */

.submenu-level-2 {

    margin-left: 18px;

}

.submenu-group.open > .submenu-level-2 {

    max-height: 600px;

    opacity: 1;

}

.submenu-group.open > .submenu-item .submenu-arrow {

    transform: rotate(180deg);

}