<nav class="navbar singe-navbar">

    <!-- Esquerda -->
    <div class="navbar-left">

        <button class="btn navbar-icon me-3" id="menu-toggle">

    <img src="{{ url_for('static', filename='design-system/icons/menu.svg') }}"
         alt="Menu">

</button>

        <a href="#" id="home-button" class="navbar-home">
    <img
        src="{{ url_for('static', filename='design-system/logos/logo-navbar.svg') }}"
        alt="SINGE"
        class="navbar-logo">
</a>

    </div>

    <!-- Direita -->
    <div class="navbar-right">

        <div class="search-box">

            <input
                type="text"
                placeholder="Pesquisar..."
                class="search-input">

            <button class="search-button">

                <img
                    src="{{ url_for('static', filename='design-system/icons/search.svg') }}"
                    alt="Pesquisar">

            </button>

        </div>

        

    </div>

</nav>