<nav class="navbar singe-navbar">

    <!-- Esquerda -->
    <div class="navbar-left">

        <button class="navbar-icon" id="menu-toggle">
            <img src="{{ url_for('static', filename='img/icons/menu.svg') }}" alt="Menu">
        </button>

        <img
            src="{{ url_for('static', filename='img/logos/logo-navbar.svg') }}"
            alt="SINGE"
            class="navbar-logo">

    </div>

    <!-- Direita -->
    <div class="navbar-right">

        <div class="search-box">

            <input
                type="text"
                placeholder="Pesquisar..."
                class="search-input">

            <button class="search-button">

                <img
                    src="{{ url_for('static', filename='img/icons/search.svg') }}"
                    alt="Pesquisar">

            </button>

        </div>

        <button class="navbar-icon">

            <img
                src="{{ url_for('static', filename='img/icons/user.svg') }}"
                alt="Perfil">

        </button>

    </div>

</nav>