<aside class="sidebar collapsed">

    <div class="sidebar-header">

        <button class="sidebar-toggle" id="sidebar-toggle">

            <img src="{{ url_for('static', filename='design-system/icons/menu.svg') }}"
                 alt="Menu">

        </button>

    </div>

    <nav class="sidebar-menu">

        <a href="#" class="nav-item active">

            <span class="indicator"></span>

            <img src="{{ url_for('static', filename='design-system/icons/menu.svg') }}">

            <span class="label">Dashboard</span>

        </a>

        <a href="#" class="nav-item">

            <span class="indicator"></span>

            <img src="{{ url_for('static', filename='design-system/icons/user.svg') }}">

            <span class="label">Alunos</span>

        </a>

        <a href="#" class="nav-item">

            <span class="indicator"></span>

            <img src="{{ url_for('static', filename='design-system/icons/search.svg') }}">

            <span class="label">Pesquisar</span>

        </a>

    </nav>

</aside>